# Ignore Word documents
*.doc
*.docx

# Ignore ZIP files
*.zip

# Ignore acknowledgment and readme files
acknowledgments.txt
readme.txt

# Ignore the misc directory
misc/

# Ignore .exe files
*.exe

# ignore .vscode directory
.vscode/